body {
    background-color: aliceblue;
}

/*Nav*/
.nav {
    padding: 15px;
    background-color: aliceblue;
}

.nav-item {
    font-family: 'Avenir';
    font-size: 100%;
}

.nav-link {
    color: black;
}

/**/

h2 {
    margin-top: 150px;
    margin-bottom: 25px;
}


.midd {
    text-align: center;
}

.marge {
    margin-left: 75px;
}
